* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #111;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
}

.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  height: 16px;
  margin: 2px;
  transition: 10s ease;
  width: 16px;
}

.square:hover {
  transition-duration: 0s;
}
